@import "./variables.scss";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Baloo Tamma 2", cursive;
  width: 80vw;
  height: 100vh;
  margin: auto;
  background: rgb(135, 52, 114);
  background: linear-gradient(0deg, rgba(135, 52, 114, 1) 0%, rgba(175, 188, 255, 1) 100%);
  background-repeat: no-repeat;
}
